@model PersonUpdateRequest
@{
    ViewBag.Title = "Edit Person";
    ViewBag.CurrentUrl = "~/Persons/Edit";
}
<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span class="text-grey">Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">People</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Create</span>
        </div>
    </div>
</div>
<a asp-controller="Persons" asp-action="Index" class="link-hover">Persons List</a>
<h2>Edit Person</h2>
<div class="form-container">
    <a asp-controller="Persons" asp-action="Index" class="link-hover">Persons List</a>
    <h2 class="text-large">Edit Person</h2>
    <form asp-controller="persons" asp-action="edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" asp-for="Name">Person Name</label>

            </div>
            <div class="flex-1">
                <input asp-for="Name" class="form-input" />
                <span asp-validation-for="Name" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" asp-for="Email">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" type="email" class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" asp-for="BirthDate">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="BirthDate" type="date" class="form-input" />
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    var genders = (string[])Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (var gender in genders)
                {
                    <input asp-for="Gender" type="radio" value="@gender" class="ml" />
                    <label asp-for="@gender">@gender</label>
                }


            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" asp-for="CountryId">Country</label>
            </div>
            <div class="flex-1">
                <select asp-for="CountryId" class="form-input" asp-items="@ViewBag.Countries">
                </select>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label pt" asp-for="Address">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input"></textarea>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" value="true" />
                <label asp-for="ReceiveNewsLetters" class="form-label">Receive News Letters</label>
            </div>
        </div>
        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button class="button-green-back button">Edit</button>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }

                        </ul>

                    </div>
                }
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"
            asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}