@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}
<h1>Persons</h1>
<a asp-controller="Persons" asp-action="Create">Create Person</a>
<form asp-controller="Persons" asp-action="index" method="get">
    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (var item in ViewBag.fields)
                {
                    if (item.Key == ViewBag.sb)
                    {
                        <option value="@item.Key" selected="selected">@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
            </select>
        </div>
        <div class="flex-1">
            <input class="form-input" id="Search" type="text" name="searchString" value="@ViewBag.ss" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back">
                Search
            </button>
            <a asp-controller="Persons" asp-action="Index" class="link-hover">Clear all</a>
        </div>
    </div>

    <table class="table w-100 mt">
        <thead>
            <tr>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
    { "ColumnName", nameof(PersonResponse.Name) },
    { "DisplayName", "Person Name" },
    })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Email) },
                { "DisplayName", "Email" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.BirthDate) },
                { "DisplayName", "Date of Birth" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Age) },
                { "DisplayName", "Age" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Gender) },
                { "DisplayName", "Gender" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Country) },
                { "DisplayName", "Country" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.Address) },
                { "DisplayName", "Address" },
                })

                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) {
                { "ColumnName", nameof(PersonResponse.ReceiveNewsLetters) },
                { "DisplayName", "Receive News Letters" },
                })
                
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.BirthDate?.ToString("dd MMMM yy")</td>
                    <td>@item.Age</td>
                    <td>@item.Gender</td>
                    <td>@item.Country</td>
                    <td>@item.Address</td>
                    <td>@item.ReceiveNewsLetters</td>
                    <td>
                        <a asp-controller="Persons" asp-action="Edit" asp-route-Id="@item.Id" class="link-hover">Edit</a>
                        <a asp-controller="Persons" asp-action="Delete" asp-route-Id="@item.Id" class="link-hover">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>